#login-form.withdraw .container .main-withdraw {
  color: #000;
  width: 95%;
  -webkit-border-radius: 25px 25px;
  border-radius: 25px 25px;
  border-top: solid 1px #c0c4cc;
  padding: 1.5rem;
  margin-top: 0rem;
  background-color: #fff;
  margin-bottom: 2rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#eee)
  );
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  background-image: linear-gradient(180deg, #fff, #eee);
}

.addmethod {
  .main-withdraw {
    ul#pills-tab {
      font-size: 1.6rem;
    }
    .input {
      input {
        margin-bottom: 2rem;
      }
    }
  }
}
