div#info {
  width: 100vw;
  height: 100vh;
  background-color: #111423;
  background-color: #111423;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  .logo {
    text-align: center;
    padding: 2rem;
  }
  .content-info {
    padding: 2rem 5rem;
    .user {
      display: flex;
      align-items: center;
      .avatar {
        margin-right: 2rem;
        img {
          border-radius: 50%;
        }
      }
      .code {
        font-size: 18px;
        font-weight: 600;
      }
      .id {
        font-size: 16px;
        .fa-copy {
          color: #0072d5;
          cursor: pointer;
          &:hover {
            color: #8ccfe3;
          }
        }
      }
    }
    .balance {
      height: 8rem;
      margin-top: 1.5rem;
      background-color: #2b2e43;
      padding: 2rem 1.5rem;
      -webkit-border-radius: 1rem;
      border-radius: 1rem;
      margin-bottom: 1.5rem;
      .number {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.6rem;
        text-align: center;
        .number {
          font-weight: 600;
          font-size: 1.8rem;
        }
        p {
          margin: 0;
        }
        .account-balance {
        }
        .text {
        }
      }
    }
    .list-action {
      background-color: #2b2e43;
      border-radius: 25px;
      padding: 1rem;
      .money {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      .btn {
        width: 48%;
        text-align: center;
        padding: 1rem;
        border-radius: 2.5rem;
        color: #fff;
        background-color: #2d50fe;
        font-size: 20px;
        &:hover {
          background-color: #1890ff;
        }
      }
      .actions {
        padding: 20px;
        .item {
          height: 5rem;
          font-size: 1.8rem;
          font-weight: 600;
          border-bottom: 1px solid #000;
          margin-top: 1rem;
          line-height: 4rem;
          .fa-solid {
            margin-right: 1rem;
          }
        }
      }
    }
  }
  .footer-info {
    position: fixed;
    height: 50px;
    background: rgb(27, 30, 47);
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    .item {
      text-align: center;
      .icon {
        font-size: 2rem;
      }
      .title {
        font-size: 1.4rem;
      }
    }
    .item.active {
      color: #1890ff;
    }
    .have-active {
      display: none;
    }
    .no-active {
      display: block;
    }
    .active {
      .no-active {
        display: none;
      }
      .have-active {
        display: block;
      }
    }
  }
  .mail {
    float: right;
    font-size: 3.2rem;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}
