#login-form {
  padding: 0 2.5rem;
  background-color: #111423;
  width: 100vw;
  height: 100vh;
  position: relative;
  .container {
    display: flex;
    flex-direction: column;
    height: 50rem;
    justify-content: space-between;
    align-items: center;
    .logo-login {
      margin-top: 10rem;
      .logo {
        width: 40rem;
        height: auto;
        object-fit: contain;
      }
    }
    .form {
      width: 100%;
      .title {
        font-size: 3rem;
        color: #f3f4f6;
        text-transform: uppercase;
      }

      .row-input {
        height: 4rem;
        width: 100%;
        border-radius: 1rem;
        margin-top: 2rem;
        background-color: #31385a;
        position: relative;
        padding-left: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        i {
          font-size: 2rem;
          color: #f3f4f6;
          margin-right: 1.5rem;
        }
        input {
          font-size: 1.6rem;
          width: 100%;
          margin-right: 1.5rem;
          border: none;
          outline: none;
          background-color: #31385a;
          color: #f3f4f6;
          font-weight: 500;
        }
      }
      .action {
        margin-top: 2rem;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          color: #2979ff;
          font-size: 1.6rem;
        }
      }
      .group-btn {
        margin-top: 2rem;
        text-align: center;
        button {
          min-width: 20rem;
          height: 4rem;
          font-size: 1.6rem;
        }
      }
    }
  }
  .signup-form.container {
    height: 60rem;
  }
  .footer-login {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 2rem;
    .circle {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-image: linear-gradient(#60a3ff, #007aff);
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 3rem;
        color: #fff;
      }
    }
  }
  .notify {
    font-size: 14px;
    color: #fbaf30;
  }
}

@media only screen and (max-width: 1024px) {
  #login-form .container {
    justify-content: space-evenly;
  }
  #login-form .container .logo-login {
    margin-top: 2rem;
  }
}
