.wallet {
  .methods-money {
    .btn {
      font-size: 1.6rem;
      color: #fff;
    }
    .withdraw.btn {
      float: right;
    }
  }
  .item-wallet {
    max-height: 33rem;
    overflow-y: auto;
    .item {
      height: 5rem;
      padding: 1rem;
      font-size: 1.6rem;
      font-weight: 600;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      margin-bottom: 1rem;
      img {
        position: relative;
        top: 3px;
      }
    }
    .item:nth-child(odd) {
      background-color: #569d6b;
    }
    .item:nth-child(even) {
      background-color: #ce7d55;
    }
  }
  .item-wallet::-webkit-scrollbar {
    width: 0; /* Ẩn thanh cuộn ngang trên trình duyệt Chrome, Safari */
  }
}

#login-form.withdraw .container .main-withdraw {
  color: #000;
  width: 95%;
  -webkit-border-radius: 25px 25px;
  border-radius: 25px 25px;
  border-top: solid 1px #c0c4cc;
  padding: 1.5rem;
  margin-top: -4rem;
  background-color: #fff;
  margin-bottom: 2rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#eee)
  );
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  background-image: linear-gradient(180deg, #fff, #eee);
}

#login-form.withdraw .container button.btn.btn-primary {
  width: 30%;
  height: 4rem;
  font-size: 2rem;
}
